header {
    padding: 30px;
    background-image: url(/content/208534747_10225364434754473_3824451612720563048_n.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    border: solid;
    border-color: black;
}

header h1 {
    font-size: xx-large;
}

header p {
    font-size: small;
    text-align: right;
    font-style: italic;
    color: white;
}

header a, header a:hover {
    color: white;
    text-decoration: none;

}

#container {
    text-align: center;
}

ul.workhistory {
    list-style-type:  none;
    padding: 0;
}

a, a hover {
    text-decoration: none;
    color: black;
}

nav {
    box-align: center;
}

h5 {
    font-style: italic;
    font-size: small;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: lightgrey;
    text-align: center;
    font-size: small;
    color: black;
}

footer a {
    color: black;
}