header {
    padding: 30px;
    background-image: linear-gradient(to right, #252526, #3046C5, #ef0e0e);
    color: white;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
}

header p {
    font-size: small;
}